[
  {
    "name": "روبینو دانلودر",
    "link": "rubinodownloader_app",
    "tick": "yes",
    "image": "http://uupload.ir/files/s07e_20200801_004647.jpg"
  },
  {
    "name": "add",
    "link": "mohammaddavoodi_mr",
    "tick": "yes",
    "image": "http://uupload.ir/files/dvj_20200729_154522.png",
    "custom": {
      "title": "اضافه کردن پیج شما",
      "text": "به نام خداوند بخشنده مهربان\nبرای ثبت پیج خود در بخش پیج های پرطرفدار پیج شما باید شرایط زیر را داشته باشد:\n✅پیج شما بالای 300 فالور داشته باشد\n✅پست های پیج شما غیر‌اخلاقی‌نباشد\n✅پیج شما فعال باشد\nقوانین بخش پیج های برتر:\n1️⃣. روی دکمه ثبت پیج کلیک کرده و عکس پروفایل و نام کاربری(id) پیج خود را  و نامی که تمایل دارید در بخش پیج های پرطرفدار نمایش داده شود برای ما ارسال کنید.\n2️⃣.بنر برنامه را که از ما دریافت کرده اید در پیج خود قرار بدهید و به مدت دو ساعت پست آخر و پس از  آن به مدت هفت روز بصورت پست آزاد.\n⚠️بنری را که ما برای شما ارسال کرده ایم دو ساعت باید پست آخر و پس از آن شما میتوانید در پیج خود پست ارسال کنید و بنر به مدت هفت روز باید در پیجتان باشد⚠️\n⚠️پیج شما به مدت هفت روز در بخش پیج های پرطرفدار قرار خواهد گرفت⚠️\n⛔️در‌صورت‌نقض هر‌یک‌از‌قوانین‌پیج‌شما از بخش پیج های برتر پاک میشود⛔️",
      "button": "ثبت پیج شما",
      "image": "http://uupload.ir/files/fshi_20200801_122130.jpg"
    }
  }
]