[
  {
    "name": "روبینو دانلودر",
    "link": "rubinodownloader_app",
    "tick": "yes",
    "image": "http://uupload.ir/files/s07e_20200801_004647.jpg"
  },
  {
    "name": "بانوی پرسپولیسی😎✌",
    "link": "ladyperspolisi",
    "tick": "no",
    "image": "http://uupload.ir/files/jvg6_img_20200810_204221_416.jpg"
  },
  {
    "name": "add",
    "link": "mohammaddavoodi_mr",
    "tick": "no",
    "image": "http://uupload.ir/files/edly_20200808_131923.png"
  }
]