[
  {
    "name": "روبینو دانلودر",
    "link": "rubinodownloader_app",
    "tick": "yes",
    "image": "http://uupload.ir/files/s07e_20200801_004647.jpg"
  },
  {
    "name": "add",
    "link": "rubinodownloader_app",
    "tick": "yes",
    "image": "http://uupload.ir/files/dvj_20200729_154522.png",
    "custom": {
      "title": "اضافه کردن پیج شما",
      "text": "توضیحات",
      "button": "ثبت",
      "image": "http://uupload.ir/files/dvj_20200729_154522.png"
    }
  }
]